.btn {
  border: 0;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  background: transparent;
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;

  @media (min-width: 990px) {
    font-size: 1.3rem;
  }

  &.ico {
    font-size: 1.5rem;

    @media (min-width: 990px) {
      font-size: 2rem;
    }
  }
  &.img {
    padding: 0;
  }
  &.btn-primary {
    background-color: $primary;
  }
  &.btn-danger {
    background-color: $danger;
  }

  &.btn-block {
    width: 100%;
  }

  &.btn-circle {
    border-radius: 50%;
  }
}

.btn-transparent {
  background: none;
  border: 0;
  color: #fff;
  font-size: 1.2rem;
}

.lead-text {
  font-size: 1.2rem;
  color: #fff;
  margin: 0;
}

.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.dark {
  background: $dark;
}

.secondary {
  background: $secondary;
}

.primary {
  background: $primary;
}

.d-flex {
  display: flex;
}
.flex-row {
  display: flex;
  flex-flow: row;
}
.flex-column {
  display: flex;
  flex-flow: column;
}
.d-none {
  display: none !important;
}

.b-0 {
  border: 0 !important;
}

.align-center {
  align-items: center;
}

.center {
  margin: 0 auto;
}

.justify-between {
  justify-content: space-between;
}

.f-jbetween-acenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.btn-red {
  color: $danger !important;
}

.text-error {
  color: $danger;
  font-size: 1rem;
  margin: 5px 0;
}
.text-primary {
  color: $primary;
  font-size: 1rem;
}

.loading-container {
  width: 100%;
  text-align: center;

  .loader {
    font-size: 1.5rem;
    color: $primary;
  }
}

.page-loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 400;
}

.Toastify__toast-body {
  margin: auto 0;
  flex: 1 1;
  font-size: 1rem;
  font-weight: bold;
}

.main-container {
  position: relative;
  overflow: hidden;

  .menu-section {
    position: fixed;
    background: $secondary;
    height: 100%;
    transition: 0.3s all;
    transform: translateX(-100%);

    width: 65%;
    @media (min-width: 990px) {
      width: 25%;
    }
    &.active {
      transform: translateX(0%);
    }
  }

  .content-section {
    transition: 0.3s all;
    background: $dark;
    min-height: 100vh;
    transform: translateX(0%);
    &.active {
      transform: translateX(65%);

      @media (min-width: 990px) {
        transform: translateX(25%);
      }
    }
  }
}

.dropdown {
  position: relative;

  &:hover .dropdown-menu {
    display: flex;
  }

  .dropdown-toggler {
    background: none;
    border: 0;
    color: #fff;
    text-transform: capitalize;
  }
  .dropdown-menu {
    position: absolute;
    top: 105%;
    right: 0;
    display: none;
    flex-flow: column;
    padding: 10px;
    background: #fff;
    min-width: 200px;
    align-items: flex-start;

    .dropdown-item {
      background: none;
      border: 0;
      color: #333;
      text-transform: capitalize;
      text-decoration: none;
      font-size: 1.1rem;
      font-weight: 500;
    }
  }
}

.table-dark th,
.table-dark td,
.table-dark thead th {
  white-space: nowrap;
}
.table {
  th {
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: capitalize;
    // position: relative;
    i {
      font-size: 0.7rem;
    }
  }

  .action-col {
    display: flex;
    align-items: center;
    button {
      border: 0;
      background: none;
      color: $primary;
      font-size: 1.5rem;
      margin: 0 10px;
    }
  }
}

.search-container {
  background: $dark;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  width: 100%;
  @media (min-width: 990px) {
    width: 30%;
  }

  input {
    background: none;
    border: 0;
    color: #fff;
    width: 45%;
    @media (min-width: 990px) {
      width: 60%;
    }
  }
  select {
    background: $dark;
    border: 0;
    color: #fff;
    margin: 0 5px;
    flex-grow: 1;
  }

  button {
    border: 0;
    background: none;
    color: #fff;
  }
}

.picture-container {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;

  .picture-content {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    img {
      border-radius: 50%;
      height: 100%;
      width: 100%;
      cursor: pointer;
    }
    &:hover .img-overlay {
      opacity: 1;
    }
  }
  .img-overlay {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    );
    border-radius: 50%;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;

    button {
      padding: 10px;
      text-transform: capitalize;
      font-size: 1rem;
      border: 0;
      background: $primary;
      font-weight: bold;
      color: #fff;
      border-radius: 10px;
      margin: 5px 0;
      &:last-of-type {
        background: $danger;
      }
    }
  }
}

.empty-container {
  text-align: center;

  p {
    font-size: 2rem;
    color: #fff;
    text-transform: capitalize;
  }
}

.red-dot {
  background: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 20px;
}
.green-dot {
  background: green;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 20px;
}
