.btn {
  border: 0;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  background: transparent;
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;

  @media (min-width: 990px) {
    font-size: 1.3rem;
  }

  &.ico {
    font-size: 1.5rem;

    @media (min-width: 990px) {
      font-size: 2rem;
    }
  }
  &.img {
    padding: 0;
  }
  &.btn-primary {
    background-color: $primary;
  }

  &.btn-block {
    width: 100%;
  }

  &.btn-circle {
    border-radius: 50%;
  }
}

.btn-transparent {
  background: none;
  border: 0;
  color: #fff;
  font-size: 1.2rem;
}

.lead-text {
  font-size: 1.2rem;
  color: #fff;
  margin: 0;
}

.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.dark {
  background: $dark;
}

.secondary {
  background: $secondary;
}

.primary {
  background: $primary;
}

.d-flex {
  display: flex;
}
.d-none {
  display: none !important;
}

.b-0 {
  border: 0 !important;
}

.align-center {
  align-items: center;
}

.center {
  margin: 0 auto;
}

.justify-between {
  justify-content: space-between;
}

.f-jbetween-acenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.btn-red {
  color: $danger !important;
}

.text-error {
  color: $danger;
  font-size: 1rem;
  margin: 5px 0;
}
.text-primary {
  color: $primary;
  font-size: 1rem;
}

.loading-container {
  width: 100%;
  text-align: center;

  .loader {
    font-size: 1.5rem;
    color: $primary;
  }
}

.page-loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 400;
}

.Toastify__toast-body {
  margin: auto 0;
  flex: 1 1;
  font-size: 1rem;
  font-weight: bold;
}

.main-container {
  position: relative;
  overflow: hidden;

  .menu-section {
    position: fixed;
    background: $secondary;
    width: 25%;
    height: 100%;
    transition: 0.3s all;
    transform: translateX(-100%);

    &.active {
      transform: translateX(0%);
    }
  }

  .content-section {
    transition: 0.3s all;
    background: $dark;
    min-height: 100vh;
    transform: translateX(0%);
    &.active {
      transform: translateX(25%);
    }
  }
}

.dropdown {
  position: relative;

  &:hover .dropdown-menu {
    display: flex;
  }

  .dropdown-toggler {
    background: none;
    border: 0;
    color: #fff;
    text-transform: capitalize;
  }
  .dropdown-menu {
    position: absolute;
    top: 105%;
    right: 0;
    display: none;
    flex-flow: column;
    padding: 10px;
    border-radius: 10px;
    background: #343b45;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-width: 200px;

    .dropdown-item {
      background: none;
      border: 0;
      color: #fff;
      text-transform: capitalize;
    }
  }
}

.table {
  th {
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: capitalize;
    // position: relative;
    i {
      font-size: 0.7rem;
    }
  }

  .action-col {
    display: flex;
    align-items: center;
    button {
      border: 0;
      background: none;
      color: $primary;
      font-size: 1.5rem;
      margin: 0 10px;
    }
  }
}

.search-container {
  background: $dark;
  border-radius: 10px;
  padding: 10px;

  input {
    background: none;
    border: 0;
    color: #fff;
  }
  select {
    background: $dark;
    border: 0;
    color: #fff;
    margin: 0 5px;
  }

  button {
    border: 0;
    background: none;
    color: #fff;
  }
}
