.form-control-container {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  margin: 0 0 20px 0;

  @media (min-width: 990px) {
    flex-flow: row;
    margin: 0 0 0 0;
  }

  .form-control {
    margin: 0 20px 20px 0;
  }
}
.form-control {
  width: 100%;
  margin: 0 0 20px 0;

  &:last-of-type {
    margin: 0;
  }
  input,
  select,
  textarea {
    border: 0;
    background: $secondary;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    resize: none;

    &.dark {
      background: $dark;
    }
    @media (min-width: 990px) {
      font-size: 1.3rem;
    }

    &::placeholder {
      color: #aaa;
    }
  }
}

.custom-select.css-2b097c-container {
  .css-yk16xz-control,
  .css-1pahdxg-control {
    background: $dark !important;
    border-color: $dark !important;
    border-radius: 10px;
    padding: 5px;
    outline: none !important;
  }
  .css-1wa3eu0-placeholder {
    color: #fff;
    font-size: 1rem;

    @media (min-width: 990px) {
      font-size: 1.3rem;
    }
  }
  .css-2613qy-menu div {
    background: $dark !important;
  }
  .css-1rhbuit-multiValue {
    background: $secondary;
    border-radius: 10px;
    color: #fff !important;
    .css-12jo7m5 {
      color: #fff !important;
    }
  }
}
