.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $secondary;
  padding: 10px 20px;

  .menu-toggler {
    background: none;
    border: 0;
    color: #fff;
    font-size: 1.2rem;
  }
  .logo-img {
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    margin: 0 20px;
  }
}
